
*.bak
*.cdb
*.hdb
*.rpt
*.xml
*.bpm
*.idb
*.kpt
*.logdb
*.rdb
*.ddb
*.db_info
*.qmsg
*.hier_info
*.hif
*.ipinfo
*.html
*.ammdb
*.rvd
*.sci
*.syn_hier_info
*.tmw_info
*.dat
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*.done
*.smsg
*.summary
*.pin
*.sft
*.vho
*.xrf
*.sdo
*.dbs
*.prw
*.psm
*.ini
*.wlf
Aula2/simulation/modelsim/Aula2_run_msim_gate_vhdl.do
Aula2/db/Aula2.smart_action.txt
Aula2/db/Aula2.lpc.txt
Aula2/incremental_db/README
Aula2/simulation/modelsim/Aula2_run_msim_rtl_vhdl.do
Aula2/simulation/modelsim/gate_work/_info
Aula2/simulation/modelsim/gate_work/_vmake
Aula2/simulation/modelsim/rtl_work/_info
Aula2/simulation/modelsim/rtl_work/_vmake
Aula2/simulation/modelsim/msim_transcript
